@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');
:root {
    --lightPurple: #ddd4ff;
    --purple: #AE96FF;
    --darkPurple: #9A85E3;
    --white: #EDEAF4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--purple);
}
#home {
    height: 100vh;
}
nav {
    background-color: var(--darkPurple);
    position: relative;
    z-index: 4;
    width: 10%;
    min-width: 225px;
    height: 100%;
}
nav ul {
    padding-top: 5%;
}
nav li {
    padding-left: 10%;
    padding-top: 20px;
    list-style: none;
    border-bottom: 5px solid var(--purple);
}
nav a {
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-decoration: none;
}
.square {
    height: 50px;
    width: 50px;
    background-color: var(--purple);
    cursor: pointer;
}
.decorativeText {
    height: 150vh;
    text-align: right;
    font-family: 'Righteous', cursive;
    /*font-size: 8vw;*/
    font-size: 144px;
    position: absolute;
    top: -85px;
    right: 0;
    color: var(--darkPurple);
    line-height: 0.90em;
    overflow: hidden;
    z-index: 1;
    cursor: default;
}

.decorativeText a {
    color: var(--white);
    text-decoration: none;
}
.name {
    font-family: 'Righteous', cursive;
    color: var(--white);
    position: absolute;
    text-align: left;
    left: 1%;
    top: 81%;
    font-size: 32px;
    z-index: 10;
}
#myManifesto {
    min-height: 100vh;
    height: 100%;
    background-color: var(--darkPurple);
    position: relative;
    z-index: 10;
}
#myManifesto h1 {
    padding: 50px 0 0 25px;
    font-family: 'Righteous', cursive;
    font-size: 5vw;
    color: var(--purple);
}
.manifestoContent {
    width: 80%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: var(--white);
}
.manifestoContent p{
    color: var(--lightPurple);
    font-size: 27px;
    padding-bottom: 1%;
}
#designFlow{
    height: 100vh;
    width: 100%;
    text-align: right;
}
#designFlow h1{
    padding: 50px 25px 0 0;
    font-family: 'Righteous', cursive;
    font-size: 5vw;
    color: var(--darkPurple);
}
.process {
    height: 75%;
    margin: 0 auto;
    padding: 50px;
}

@media only screen and (max-width: 800px) {
    .decorativeText{
        font-size: 110px;
    }
    .manifestoContent {
        font-size: 4vw;
    }
}