@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "compass/css3";

:root {
  --tan: #35402D;
  --peach: #F27777;
  --frenchBlue: #F2EDEB;
  --brownBonnet: #D9AA8F;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--tan);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  background-color: var(--frenchBlue); /* rgb(214, 229, 255); - old*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* My Nav Bar */
#navbar{
  position: fixed;
  height: 40px;
  width: 100%;
  line-height: 40px;
  z-index: 10;
  background-color: var(--frenchBlue);
}
#navbar ul{
  float: right;
  list-style: none;
}
#navbar ul li{
  display: inline;
}
#navbar ul a{
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
}

#navbar ul a:hover{
  color: var(--peach);
  font-size: 23px;
}

/* My Opening Section */
#welcome-section{
  height: 100vh;
  text-align: center;
}

.center_box{
  position: relative;
  top: 30%;
  display: block;
  margin: auto;
  width: 50%;
  z-index: 1;
}

.center_box h1{
    font-size: 7vw;
    font-weight: bolder;
    -webkit-animation: 2s ease 0s normal forwards 1 slide;
    animation: 2s ease 0s normal forwards 1 slide;
}

@keyframes slide{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Slot Machine Effect */
.slot-machine {
  width: 100%;  
  text-align: center;
}

.slot-machine_mask {
  width: 100%;
  height: 150px;
  overflow: hidden; 
  padding-right: 25%;
  position: relative;
  margin-bottom: -40px;
  text-align: center;
}

.slot-machine_items_container {
  position: absolute;
  min-width: 100%;
}

.slot-machine_item {
  min-height: 150px;
  max-height: 150px;
  background-size: contain;
  text-align: center;
  /* Fade in Animation */
  opacity: 0;
  -webkit-animation: 2s ease 1s normal forwards 1 slide;
  animation: 2s ease 1s normal forwards 1 slide;
}

.recipe_if {
  font-weight: bold;
  font-size: 4vw;
}

/* My Project Portion */
#projects{
  padding: 50px 5% 0px 5%;
  min-height: 95vh;
}

#projects h1{
  text-align: center;
  padding-bottom: 20px;
  color: var(--tan);
}

.project_container{
  padding: 0;
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.project_container a {
  text-decoration: none;
}

/* Each Project Box */
#box { 
  margin-top: 5%;
  height: 175px;
  border-radius: 5px;
}

#box img {
  width:250px;
  border-radius: 5px;
}

#box img:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
  
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
  
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
  
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#box p {
  font-weight: bolder;
  text-align: center;
  color: var(--peach);
  
}

/* My Photos Section */
#photos {
  padding-top: 50px;
  min-height: 95vh;
  max-width: 90vw;
  margin: 0 auto;
}

#photos h1 {
  text-align: center;
}

.slideshow-container {
  max-width: 1080px; /* This could lead to responsive problems */
  position: relative;
  margin: auto;
  margin-top: 25px;
  height: 600px;
  overflow: hidden;
  border: 10px solid var(--tan);
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 33px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  margin-top: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Photos fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* My About Section */
#about { 
  padding-top: 50px;
  height: 94vh;
}

#about h1 {
  text-align: center;
}

#content-block{
  padding: 10px 20%;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
}

.flex-logo{
  padding: 10px;
}

.flex-logo a{
  padding-right: 10px;
  text-decoration: none;
}

#certifications {
  width: 45%;
}

/* Screens smaller than 800px */
@media only screen and (max-width: 800px){
  #navbar ul a {
    font-size: 15px;
  }
  
  .mySlides img {
    width: 100vw;
  }

  .slideshow-container{
    height: 100%;
  }
  
  #certifications {
    width: 100%;
  }

}